@font-face {
     src: url("../fonts/Tajawal-Regular.ttf");
     font-family: "main";
}
* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     font-family: "main", sans-serif;
     margin: 0;
     padding: 0;
}
.rounded-3 {
    border-radius: 0.9rem!important;
}
.rounded-4 {
    border-radius: 1.9rem!important;
}
.btn-primary {
    color: #fff;
    background-color: #33BCDD;
    border-color: #33BCDD;
}
.bg-primary {
    background-color: #33BCDD!important;
}
body {
     overflow-x: hidden;
     background: #F4F5F7;
     direction: rtl;
     text-align: right;
}
.pt-66p{
    padding-top: 66px;
}
.bg-side:after{
    content: "";
    width: 300px;
    position: absolute;
    top: 0;
    background: url(../images/bg-sid.png) top right;
    height: 100%;
    right: -270px;
    z-index: -1;
}
a{
     text-decoration: none;
     color: #000;
}
.main{
     min-height: calc(100vh - 130px);
}
.margin-top-76{
     margin-top: 75px;
}
.sidebar{
     width: 250px;
     min-width: 250px !important;
     max-width: 250px !important;
     min-height: calc(100vh - 130px);
     transition: 1s;
}
@media (max-width: 997px) {
    .sidebar{
         transition: 1s;
        position: fixed;
        right: -100%;
        z-index: 1024;
    }
    .side-active{
         right: 0;
         transition: 1s;
    }
    .bg-side-mobile{
        transition: .4s;
        height: 90vh;
        overflow-y: auto ;
    }
    .bg-side-mobile:after{
        content: "";
        width: 100%;
        position: absolute;
        top: 0;
        background: url(../images/bg-sid.png) top right;
        height: 100%;
        right: 0px;
        z-index: -1;
        transition: .4s;
    }
}
.active-sidebar{
     right: 10px;
     transition: 1s;
}

.open{
     transform: rotate(-180deg);
     transition: ease 1s;
}
.overlay-1{
     position: absolute;
     z-index: 21;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,0.1);
}
.when-hover li a{
     border-bottom: 2px solid transparent;
}
.when-hover li:hover{
     background: #f8f9fa !important;
     transition: ease 0.5s;
}
.when-hover .active{
     background: #f8f9fa !important;
}
.when-hover li a:hover{
     transition: 0.5s;
     color: #198754 !important;
     border-bottom: 2px solid #198754;
}

.when-hover-side li:hover,.when-hover-side li.active,.when-hover-side li:focus{
     transition: .5s;
    background: #FFD016;
}
.when-hover-side li a:hover,.when-hover-side li.active a{
     transition: .5s;
     color: #000;
}
.when-hover-side li{
    position: relative;
    transition: .5s;
}
/*.when-hover-side li:after{*/
/*    transition:.5s;*/
/*        width: 15px;*/
/*    height: 100%;*/
/*    z-index: 111;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*    content: "";*/
/*}*/
.when-hover-side li.active,.when-hover-side li:hover{
    border-right: 10px solid #FFFFFF;
}
.when-hover-side li:first-child{
    border-right: 0px solid transparent;
    background: transparent;
}
/*.when-hover-side li.active:after,.when-hover-side li:hover:after{*/
/*    content: "";*/
/*    background: #fff;*/
/*}*/
.left-0{
    left: 0;
}
.pt-30p{
    padding-top: 30px;
}
.rounded-edit{
     border-radius: 15px;
}
.rounded-2{
    border-radius: 0.5rem!important;
}
.img-single img{
     object-fit: cover;
}
.input-file{
     z-index: -1;
     position: absolute;
     opacity: 0;
}
.all-w-textarea{
     width: 90% !important;
}
.w-textarea{
     width: 85%;
}
.textarea-comment{
     resize: none;
     overflow: auto;
}
.name-file-upload{
     bottom: -18px;
     right: 0;
}
button:focus{
     outline: none !important;
     box-shadow: none !important;
}
.logo-login{
     margin-top: -50px;
}
/*   Media     */
@media (max-width: 768px) {
     .w-sm-auto{
          width: auto;
     }
     .all-w-textarea{
          width: 80% !important;
     }
     .w-textarea{
          width: 100% !important;
     }
     .all-login{
          min-height: 100% !important;
          margin: 20px !important;
     }
     .title-login{
          padding: 20px !important;
     }
    .menu-sm{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #FFF;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
        border-top: 1px solid #dee2e6 !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
        left: 0 !important;
    }
    .padding-bottom-76{
        padding-bottom:70px;
    }
    .logout-sm {
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px !important;
        margin-bottom: 0 !important;
    }
}

.content-time{
    display: none;
    right: 10px;
    top: 10px;
    z-index: 22;
    font-size: 20px;
}
.card-hover:hover .overlay{
    transition: ease-in-out 0.4s;
    z-index: 20;
    background: rgba(0,0,0,0.7);
    opacity: 1;
}
.card-hover:hover:hover .content-time {
    display: block !important;
    transition: ease-in-out 0.3s;
}

.z-index-40 {
    z-index: 40;
}

span.select2-container.select2-container--default.select2-container--open {
    z-index: 999999;
}

.w-97 {
    width: 97% !important;
}

.check-modal-true {
    top: 1px !important;
    left: 4px !important;
}

.btnCheck {
    height: 20px !important;
    width: 20px !important;
}

.check-modal {
    top: 0 !important;
    right: 0 !important;
}

.status-position {
    top: -6px;
    left: -20px;
    transform: rotate(-30deg);
}

.managers {
    white-space: normal;
    word-break: break-all;
    width: 30% !important;
    margin-top: 28px;
}

@media print {
    .menu-sm, nav, footer, .form-export {
        display: none !important;
    }
}

.manager-scroll {
    max-height: 70px;
}

.nicescroll-rails.nicescroll-rails-hr  {
    opacity: 0 !important;
    display:none;
}
.w-45 {
    width: 40% !important;
}

.pagination { justify-content: center !important; }

.min-h-40p{
    min-height: 40px;
}
td,th {
    white-space: nowrap;
}
.icon-date{
    position: absolute;
    left: 12px;
    bottom: 12px;
}
label.icon-date {
    position: absolute;
    left: 10px;
    bottom: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
a.input-group-text:focus{
    box-shadow: none!important;
}
/*.form-control {*/
/*    background-color: #F8F8F8;*/
/*    border: 1px solid #ced4dabf*/
/*}*/
.close {
    font-size: 30px;
    line-height: 30px;
    color: #1000ff;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    color: #ffffff;
    background-color: #33BCDD;
    border-color: #33BCDD;
    border-radius: 5px;
}
.nav-tabs .nav-link{
    color: #000;
    background-color: #FBFBFB;
    border-color: #FBFBFB;
    border-radius: 5px;
}
.form-group label {
    margin-bottom: 7px;
}
.form-control[type=file] {
    position: relative;
}
.form-control[type=file]:after {
    content: "اختيار ملف";
    background: #33bcdd;
    color: #fff;
    position: absolute;
    right: 0;
    padding: 6px 12px;
    top: 0;
}
.nav-tabs {
    border-bottom: none;
}
.pointer{
    cursor: pointer;
}
@media (min-width: 600px){
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*  box-shadow: inset 0 0 5px grey; */
/*  border-radius: 10px;*/
/*}*/

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33BCDD;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a58ca;
}
.login{
    background: url('../images/bg-sid.png');
}
.link-header-o{
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 7px;
}
@media (max-width: 520px){
    .cases h6{
        font-size: 12px!important;
    }
    .title-o{
        font-size: 16px!important;
    }
}